
/* --- CSS fixes for the Blink engine --- */

.panel-width-small {
	width: 350px;
	height: 600px;
}
.panel-width-medium {
	width: 400px;
	height: 600px;
}
.panel-width-big {
	width: 480px;
	height: 700px;
}

.window-header {
	width: calc(100% - 60px);
	box-sizing: border-box;
}

.blur, .header-pic, .twitch-header .background-pic {
	filter: blur(10px) !important;
	-webkit-filter: blur(10px) !important;
}

.sendeplan tr {
	display: block;
	overflow: hidden;
	position: relative;
}

.sendeplan .td {
	display: block;
}
	.sendeplan td.time-and-status {
		width: 74px;
		float: left;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.sendeplan tr:not(.current) td.description {
		padding-left: 82px;
		display: block !important;
		width: auto;
		overflow: hidden;
	}


.bottombar-item:active {
	box-shadow: inset 0 0 4px rgba(0,0,0,0.25);
}


.twitch-header .pic {
	position: relative;
	z-index: 10;
}
.twitch-header .pic img {
	min-height: 48px;
}