.reddit-list {}
	.reddit-list a { color: #777; }

	.reddit-list .post {
		padding: 16px !important;
	}
	
	.reddit-list .post-title { font-weight: 500; }

	.reddit-list .post-meta {
		font-size: 0.85em;
		color: #888 !important;
	}
		.reddit-list .post-meta li {
			display: inline-block;
			margin-right: 0.75em;
		}
		
		.reddit-list .flair {
			padding: 0.2em 0.4em;
			background: #e2e2e2;
			border-radius: 0.2em;
		}

	.reddit-list .post-pic {
		width: 50px;
		float: left;
		margin-left: 0;
		margin-right: 10px;
	}

	.reddit-list .post-info {
		width: auto;
		overflow: hidden;
	}