/* -- Show Detail -- */
.window-content {
	position: relative;
}

.shows-wrapper.hidden {
	/*height: calc(100vh - 60px) !important;*/
	opacity: 0;
}

.subpage-overlay {
	height: 0px;
	width: 100%;
	top: -70px;
	bottom: 0;
	position: absolute;
	overflow: hidden;
	background: #fff;
	z-index: 5;
	opacity: 0;
	pointer-events: click-through;
	transition: all 0.2s ease-in-out;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.subpage-overlay.active {
	height: calc(100vh);
	overflow: auto;
	top: 0;
	opacity: 1;
}

.show-detail .header {
	padding: 30px 20px;
	position: relative;
	overflow: hidden;
	min-height: 1px;
	background-color: #444;
	position: relative;
}
	.header-pic {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		opacity: 0.6;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		filter: url("../img/blur.svg#blur");
		margin: -8px;
		padding: 8px;
		overflow: hidden;
	}

	.show-detail .close-button {
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 0.27em 0.47em 0.42em 0.45em;
		line-height: 0.8em;
		color: #222;
		background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.8));
		border-radius: 99em;
		z-index: 7;
		cursor: pointer;
	}
		.show-detail .close-button:hover {
			background: #fff;
		}

	.show-detail .header .info {}
		.show-detail .header .title {
			margin: 0 0 0.5em;
			font-weight: 600;
			text-shadow: 0 1px 1px rgba(0,0,0,0.75);
			font-size: 1.4em;
			line-height: 1em;
			color: #fff;
		}
		.show-detail .header .date {
			font-weight: 600;
			opacity: 0.9;
			color: rgba(255,255,255,0.76);
			text-shadow: 0 1px 1px rgba(0,0,0,0.75);
		}
		.show-detail .header .date strong { color: rgba(255,255,255,0.92); }

	.show-detail .header.has-badges {
		padding-top: calc(20px + 2.5em);
		padding-bottom: 22px;
	}

	.show-detail .header .info, .show-detail .header .badges {
		position: relative;
		z-index: 1;
	}
	.show-detail .header .badges {
		position: absolute;
		top: 1em;
		left: 20px;
		font-size: 0.85em;
	}
		.show-detail .badge {
			display: inline-block;
			background: rgba(0,0,0,0.5);
			padding: 0.35em 0.45em;
			color: rgba(255,255,255,0.9);
			margin-right: 0.35em;
			border-radius: 0.2em;
			text-transform: uppercase;
			font-weight: 600;
			border: 2px solid rgba(255,255,255,0.7);
		}

		.show-detail .header .badges .badge.live {
			background: rgba(252,19,49,0.7);
			text-transform: uppercase;
			color: #fff;
			border-color: rgba(255,255,255,0.7);
		}

.show-detail .description {
	padding: 18px 20px;
	border-bottom: 1px solid #ddd;
	line-height: 1.3em;
	color: #444;
}

	.show-detail .wiki-link {
		margin-top: 1em;
		text-align: center;
	}

.show-detail .no-playlist-reason {
	padding: 18px 20px;
	padding-left: 58px;
	color: #999;
	text-align: center;
	line-height: 1.3em;
	font-size: 0.9em;
	position: relative;
	border-bottom: 1px solid #e3e3e3;
}
	.show-detail .no-playlist-reason:after {
		content: "";
		background: url("../data/assets/pictos/youtube-sad.svg") no-repeat center;
		background-size: contain;
		height: 24px;
		width: 24px;
		position: absolute;
		left: 20px;
		top: 50%;
		margin-top: -12px;
		opacity: 0.3;
	}
		.show-detail .no-playlist-reason.norights:after {
			background-image: url("../data/assets/pictos/youtube-locked.svg");
		}

.show-detail {
	.video-list-wrapper {
		.spinner-area {
			.spinner.active {
				
			}
		}
	}
}