<section class="post-list">
	<p class="window-top-button"><a href="http://rocketbeans.tv/blog"><i class="fa fa-newspaper-o"></i> Blog in neuem Tab öffnen</a>

	<article class="post template">
		<a class="post-link" href="">
			<p class="post-pic"><img src="" alt=""></p>	

			<div class="post-title-date-wrapper">
				<h2 class="post-title"></h2>
				<p class="post-date"></p>
			</div>

			<div class="post-content-wrapper">
				<div class="post-content">
				</div>
			</div>
		</a>
	</article>
</section>