<div class="link-list">
	<div class="link-category template">
		<h1 class="category-title"></h1>

		<section class="post-list">
			<article class="post template link">
				<a class="post-link" href="">
					<div class="post-icon"><img src=""/></div>

					<div class="post-info">
						<h2 class="post-title"></h2>
						<div class="post-content"></div>
					</div>
				</a>
			</article>

			<article class="post template text">
				<div class="post-icon"><img src=""/></div>

				<div class="post-info">
					<h2 class="post-title"></h2>
					<div class="post-content"></div>
				</div>
			</article>
		</section>
	</div>
</div>