<div class="sendeplan-view">
	<div class="twitch-header">
		<div class="top-line">
			<span class="now-playing-label">Gerade läuft</span>
			<span class="live-status">Wiederholung</span>
		</div>

		<div class="now-playing">
			<a href="" class="screenshot-wrapper">
				<div class="screenshot">
					<img src="../data/assets/images/youtube-thumbnail.jpg" alt="" />
				</div>
			</a>

			<div class="info">
				<span class="title"></span>
				<span class="subtitle"></span>
				<span class="game"><span class="fa fa-gamepad"></span> <span class="text"></span></span>

				<!-- <span class="viewers"><span class="fa fa-users"></span> <span class="twitch-viewer-count"></span></span> -->
			</div>
		</div>

	</div>
	
	<div class="sendeplan-header">
		<div class="sendeplan-header-inner">
			<div class="header-button left load-previous-day"><span class="fa fa-angle-left"></span></div>
			<div class="header-button right load-next-day"><span class="fa fa-angle-right"></span></div>
			<div class="current-date">
				<span class="day"></span>
				<span class="date"></span>
			</div>
		</div>
	</div>

	<div id="sendeplan" class="sendeplan schedule">
		<div class="event template">
			<div class="event-inner">
				<div class="meta">
					<span class="time">
						<span class="time-start"></span>
						<span class="time-bis-label"></span>
						<span class="time-end"></span>
					</span>
					<span class="live-status"></span>
				</div>

				<div class="info">
					<span class="title"></span>
					<span class="topic"></span>
					<span class="game"><span class="fa fa-gamepad"></span> <span class="label"></span></span>
				</div>

				<!-- <div class="options">
					<span class="options-button">…</span>
				</div> -->
			</div>

			<span class="time-remaining"></span>
			<div class="progress"></div>
		</div>
	</div>

	<div class="no-schedule-date">
		Für <span class="date">diesen Tag</span> sind leider keine Sendeplan-Daten vorhanden…
	</div>

	<div class="bottom-text last-updated-notice">
		<button id="sendeplan-update-cache">Jetzt aktualisieren</button>
		<span>
			Letzte Cache-Aktualisierung:
			<span class="last-updated">vor <span class="last-updated-time"></span></span>
		</span>
	</div>

	<div class="bottom-text">
		<p>Sendeplan-Daten stammen aus <a href="http://api.rbtv.rodney.io/">Rodneys Sendeplan-API</a>, basierend auf der offiziellen RBTV-API</p>
	</div>

	<div class="bottombar">
		<ul class="bottombar-item-list">
			<li class="bottombar-item with-icon"><a href="http://rocketbeans.tv/wochenplan"><i class="item-icon fa fa-table"></i> Offizieller Wochenplan</a> <!-- <i class="item-icon right fa fa-angle-right"></i> --></li>
		</ul>
	</div>
</div>